@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("assets/bg-01.svg");
}

@media only screen and (max-width: 1000px) {
.nav-item{
  display: none;
}
}

/* Landing Page */
.hero {
  width: 820px;
  height: 700px;
}

.landp {
  margin-right: -15px;
  margin-left: 45px;
}
@media only screen and (max-width: 768px) {
  .landpageleft{
    display: block;
    text-align: center;
    margin-left:-70px ;
    justify-content: center;
  }

  .welcome{
margin-top: 25px;
align-content: center;
text-align: center;
font-size: 25px;
  }
  .exl{
font-size: 2em;
  }
  .learn{
font-size: 1em;
  }
  .hero {
    width: 360px;
    height: 450px;
    margin-left: -80px;
    margin-top: -90px;
}
.button-get{
  margin:-35px;
}
}
/* About-Us */

.about {
  margin: 60px;
}

#about-us {
  background: #131313;
}

.video {
  margin: 0 auto;
  display: block;
  width: 560px;
}

@media only screen and (max-width: 768px) {
  .video {
    width: 320px;
  }
  .about {
    font-size: 15px;
    line-height: 25px;
  }
  .aboutus {
    margin-bottom: -50px;
  }
}
/* End of about */

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#ff8080;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#e74c3c;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}

/* Exotrix Learning - Footer */

.upfoo {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.footer .footer-logo img {
  height: auto;
  width: 90%;
  padding: 0 40px 0 40px;
  align-items: center;
  margin: 25px 0 0 0;
}
.footer .footer-content {
  color: #888;

  text-align: center;
  margin: 25px 5px 0 0;
  font-size: 16px;
}
.footer .footer-content h2 {
  font-size: xx-large;
  font-weight: bold;
}
.footer .footer-links {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  padding: 0 25px 0 25px;
}

.footer .footer-links h4 {
  text-decoration: none;
  font-size: x-large;
  margin: 25px 0 15px 0;
}

/* Footer - TheSundayOrg - Copyrights */

.footer .copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p,
.footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}

.footer .copyrights p a,
.footer .copyrights .credits a img {
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsiveness of the Footer */

@media only screen and (max-width: 768px) {
  .foo-logo {
    height: fit-content;
    width: fit-content;
  }
  .footer .footer-content {
    font-size: medium;
  }
  .footer .footer-content .p-content {
    font-size: smaller;
    margin: 0 50px;
    align-items: center;
  }
}




@media only screen and (max-width: 1000px) {
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 50px;
   left: 50px;
   z-index: 1;
   float: right;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 

 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }}


 