@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("assets/bg-01.svg");
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
@media only screen and (max-width: 1000px) {
  .nav-item {
    display: none;
  }
}

/* Landing Page */
.hero {
  width: 820px;
  height: 700px;
  display: block;
}

.landp {
  margin-right: -5px;
  margin-left: 25px;
}
@media only screen and (max-width: 768px) {
  .landpageleft {
    display: block;
    text-align: center;
    margin-left: -50px;
    justify-content: center;
  }
  .landp {
    margin-right: -15px;
    margin-left: 45px;
  }
  .welcome {
    margin-top: 25px;
    align-content: center;
    text-align: center;
    font-size: 25px;
  }
  .exl {
    font-size: 2em;
  }
  .learn {
    font-size: 1em;
  }
  .hero {
    width: 360px;
    height: 450px;
    margin-left: -50px;
    margin-top: -90px;
    padding: 5px;
  }
  .button-get {
    margin: -35px;
  }
}
/* About-Us */

.about {
  margin: 60px;
}

#about-us {
  background: #131313;
}

.video {
  margin: 0 auto;
  display: block;
  width: 560px;
}

@media only screen and (max-width: 768px) {
  .video {
    width: 320px;
  }
  .about {
    font-size: 15px;
    line-height: 25px;
  }
  .aboutus {
    margin-bottom: -50px;
  }
}
/* End of about */

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff8080;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/* Exotrix Learning - Footer */

.upfoo {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.footer .footer-logo img {
  height: auto;
  width: 90%;
  padding: 0 40px 0 40px;
  align-items: center;
  margin: 25px 0 0 0;
}
.footer .footer-content {
  color: #888;

  text-align: center;
  margin: 25px 0px 0 0;
  font-size: 16px;
}
.footer .footer-content h2 {
  font-size: xx-large;
  font-weight: bold;
}
.footer .footer-links {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
}

.footer .footer-links h4 {
  text-decoration: none;
  font-size: x-large;
  margin: 25px 0 15px 0;
}

/* Footer - TheSundayOrg - Copyrights */

.footer .copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p,
.footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}

.footer .copyrights p a,
.footer .copyrights .credits a img {
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsiveness of the Footer */

@media only screen and (max-width: 600px) {
  .foo-logo {
    height: fit-content;
    width: fit-content;
  }
  .footer .footer-links {
    text-align: center;
    justify-content: center;
  }
  .footer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer .footer-content {
    font-size: smaller;
  }
  .footer .footer-content h2 {
    margin-top: 30px;
    font-size: small;
  }
  .footer .footer-content .p-content {
    font-size: smaller;
    padding: 0 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer .footer-logo img {
    height: auto;
    width: 290px;
    padding-left: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-fcc {
    padding-left: 40px;
  }
  .upfoo {
    text-align: center;
  }
}
